{# app/Resources/views/default/new.html.twig #}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Artista</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" id="nav">
		<div class="navbar-inner">
        	<div class="container">
        		<div class="row header">
        			<div class="col-md-4">
        			<a href="/"><img src="{{ asset('img/logo.png') }}" alt="logo"/></a>
        			</div>
        			<div class="col-md-5">
                    </div>
                    <div id="header-text" class="pull-right">
        				<h1>MAKE YOUR OWN CONCERT</h1>
        			</div>
        		</div>
        	</div>
        </div>
</div>
<div id="content">
<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          <li><a href="/">Home</a></li>
          <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Persona</a>
                 <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="/createPersona">Create Persona</a></li>
                    <li><a href="/selectPersona">Select Persona</a></li>
                    <li><a href="/selectPersonaall">Select all Personas</a></li>
                    <li><a href="/actualitzaPersona">Update Persona</a></li>
                    <li><a href="/deletePersona">Delete Persona</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Artista</a>
                 <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="/createArtista">Create Artista</a></li>
                    <li><a href="/selectArtista">Select Artista</a></li>
                    <li><a href="/selectArtistaall">Select all Artista</a></li>
                    <li><a href="/actualitzaArtista">Update Artista</a></li>
                    <li><a href="/deleteArtista">Delete Artista</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Pabellón</a>
                 <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="/createPabellon">Create Pabellón</a></li>
                    <li><a href="/selectPabellon">Select Persona</a></li>
                    <li><a href="/selectPabellonall">Select all Pabellones</a></li>
                    <li><a href="/actualitzaPabellon">Update Pabellón</a></li>
                    <li><a href="/deletePabellon">Delete Pabellón</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Concierto</a>
                 <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="/createConcierto">Create Concierto</a></li>
                    <li><a href="/selectConcierto">Select Concierto</a></li>
                    <li><a href="/selectConciertoall">Select all Conciertos</a></li>
                    <li><a href="/actualitzaConcierto">Update Concierto</a></li>
                    <li><a href="/deleteConcierto">Delete Concierto</a></li>
                </ul>
            </li>
          </ul>
 </div>
<div class="row form">
<div class="col-sm-3"></div>
<div class="col-sm-4">
<h3> Artista list </h3>
<table>
<tr>
<th>Id</td>
<th>Name</th>
<th>Integrantes</th>
</tr>
{% for artista in artistas %}
<tr>
<td>{{ artista.id }}</td>
<td>{{ artista.name }}</td>
<td>{{ artista.integrantes }}</td>
</tr>
{% endfor %}
</table>
</div>
</div>
</div>
</body>
</html>

